<!-- TO ENABLE SEARCH, run this command: rake searchkick:reindex CLASS=Userlogin
start search on ubuntu with command: sudo /etc/init.d/elasticsearch start -->

<head>
<style>
  .searchResult:hover {
    background-color: #D6D6D6;
  }
  .searchResult {
    box-shadow: 0px 1px 6px black; 
    margin-bottom: 6px;
    width: 80%; 
    border: 1px solid black;
    border-radius:10px;
    background-color: white;
  }
  .myPanel {
    box-shadow: 0px 1px 6px black; 
    margin-top: 5px;
    margin-bottom: 6px;
    width: 80%; 
    border-radius:10px;
    background-color: white;
  }
  .myPanel2 {
    box-shadow: 0px 1px 6px black; 
    margin-top: 5px;
    margin-bottom: 6px;
  }
</style>
</head>
<body>
  <div class="container myPanel" style="">
    <div class="panel panel-default myPanel2">
      <!-- Panel contents -->
      <div class="panel-heading" align="center" style="font-size:xx-large; background-color:#00A6DE; color: white; text-shadow: 2px 2px black">Search Results</div>
      <div class="panel-body" style="background-color:#575757">
        <p align="center" style="font-size: large; color:#00A6DE ">Find the perfect tutor to match your schooling needs! Search above by class, name, email address, or skills!<br>
        It's time to get ahead of the workload. We are here to help!</p>
      </div>
      
      <div style="background-color: #575757; text-align:center; color:#00A6DE; padding-bottom: 3px">
        <div style="border-style: solid; border-width: 2px; border-color: black; margin: 0px 25% 5px 25%; border-radius:5px">
          SORTING OPTIONS HERE
        </div>
      </div>
    </div>
  </div>

      <!-- 
      - Maybe create a message for if there are no tutors?
      -->

      <% @userlogins.each do |userlogin| %>
        <!-- A container for each search result -->
        <% if userlogin.isTutor? %>
            <div class="container searchResult">
              <a href="../pages/User_Profile/<%= userlogin.id %>">
                <div class="row">
                  
                  <div class="col-xs-3" style="" align="center"> 
                  <!--<img title="profile image" class="img-rounded img-responsive" style="min-height:20%" src="<%#= userlogin.avatar.url(:medium) %>">-->&nbsp</div>
                  
                  <% if userlogin.first? %>
                    <div class="col-xs-9" style="font-size:x-large"><b><%= userlogin.first %> <%= userlogin.last %></b></div>
                  <% else %>
                    <div class="col-xs-9" style="font-size:x-large"><b>Name n/a</b></div>
                  <% end %>
                  
                  <div class="col-xs-9" style="font-size:large"><b><%= userlogin.email %></b></div>
                  
                  <div class="col-xs-3"><b>Gender:</b> <%= userlogin.gender %></div>
                  
                  <div class="col-xs-3"><b>Age:</b> <%= userlogin.calculate_age(userlogin.birthday) %></div>
                  
                  <div class="col-xs-3"><b>Price:</b> 
                  <% if userlogin.price? %>
                      $<%= userlogin.price %>/hr
                    <% else %>
                      Not available
                    <% end %>
                  </div>

                  <div class="col-xs-9"><b>Classes:</b> <% courses = userlogin.parse_database_tags(userlogin.classes) %>
                        <% courses.each do |s|%>
                        <% if s.blank? %>
                        <% else %>
                          <%= s %><%= "," %>
                        <%end%><%end%></div>

                  <div class="col-xs-9"><b>Skills:</b>
                   <% skills = userlogin.parse_database_tags(userlogin.skills) %>
                        <% skills.each do |s|%>
                          <% if s.blank? %>
                        <% else %>
                          <%= s %><%= "," %>
                        <%end%><%end%></div>

                  <div class="col-xs-9"><b>Bio:</b> <%= userlogin.aboutMe %></div>
                </div>
              </a>
            </div>
        <% end %>
      <% end %>


      <hr style="border-color:#208AD6">


    </div>
  </div>
</body>



