<head>
<%= csrf_meta_tag %>
</head>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','ratyrate.js'%>
<% end %> 

  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $('.birthday_selector').each(function(){
            $(this).select2({

              dropdownAutoWidth : true
            });
            
        });
        $('#gender_selector').select2({
          minimumResultsForSearch: Infinity,
          placeholder : "Select gender",
          dropdownAutoWidth : true
        });
        $('#course_selector').select2({
          placeholder : "Select class(es)",
          cache : true,
          delay : 250,
          dropdownAutoWidth : true,
          tokenSeparators: [','],
          minimumInputLength : 1
        });
        $('#skill_selector').select2({
          placeholder : "Select skill(s)",
          cache : true,
          delay : 250,
          dropdownAutoWidth : false,
          tokenSeparators: [','],
          minimumInputLength : 1
        });
        $("div").removeClass("invisible");

            if ($('textarea').length > 0) {
                var data = $('textarea');
                $.each(data, function(i) {
                    CKEDITOR.replace(data[i].id);
                });
            }
    });
  </script>

  <style>
    .button_to {
      display: inline;
    }
    .button_to div {
      display: inline;
    }
    .invisible{
      visibility: hidden;
    }
    #namediv{
        padding-top: 20px;
    }
  </style>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
<div class="container target">
    <div class="row">
        <div class="col-sm-6 col-xs-5">
            <div id="namediv">
              <%= f.label :First,"First Name:", class: "pull-left" %>
              <%= f.text_field :first, autocomplete: "off", class: "form-control name" %>
              <%= f.label :Last, "Last Name:", class: "pull-left" %>
              <%= f.text_field :last, autocomplete: "off", class: "form-control name" %>
            </div>
        </div>
        <div class="col-sm-2">
        </div> 
        <div class="col-sm-4 col-xs-5">
          <!--<img title="profile image" class="img-rounded img-responsive pull-left" src="<%#= current_userlogin.avatar.url(:medium) %>">
          <br>
          <div>
           <%#= f.file_field :avatar %>
          </div>-->
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span><%= current_userlogin.created_at.strftime("%F") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Last seen</strong></span><%= current_userlogin.last_sign_in_at.strftime("%F") %></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Gender</strong></span>
                  <%= f.select(:gender, ["Male","Female","Other"], {}, { class: "invisible", multiple: false , id: "gender_selector"})%></li>
                <li class="list-group-item"><span><p style="display:block;"><strong>Birthday</strong></p></span><%= f.date_select :birthday, { :start_year => 1920, :end_year => 2015 },{class: "birthday_selector invisible", prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }}%></li>
            </ul>
<div class="form-group">
      <%= f.label :is_Tutor %><br>
      <%= f.check_box :isTutor, autocomplete: "off" %>
    </div>
             <div class="panel panel-default">
               <div class="panel-heading">Pricing ($/hr)</div>
               <div class="panel-body invisible">
                <%= f.text_field :price, placeholder: 'Enter just a number (ex. 20, 30, 45, etc...)', autocomplete: "off", class: "form-control" %>
               </div>
             </div>

            <div class="panel panel-default">
                <div class="panel-heading">Email</div>
                <div class="panel-body">
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: false, class: "form-control" %>
                  </div>
                </div>
            </div>
          </div>

        <!--/col-3-->
        <div class="col-sm-6 col-md-9" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">About Me!</div>
                  <div class="invisible" >
                    <%= f.text_area :aboutMe, :class => 'ckeditor' %>
                  </div>
            </div>

              <div class="row">
                <div class="col-sm-12" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading">My Skills</div>
                        <% selectedSkills = current_userlogin.parse_database_tags(current_userlogin.skills) %>
                        <div class="panel-body invisible">
                          <%= f.select(:skills, Skill.all.collect {|p| [p.skillCol] }, {:selected => selectedSkills}, { style: "width: 100%;" ,multiple: true , id: "skill_selector"})%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="" contenteditable="false">
                    <div class="panel panel-default">
                        <div class="panel-heading">Classes I Know</div>
                        <% selectedClasses = current_userlogin.parse_database_tags(current_userlogin.classes) %>
                        <div class="panel-body invisible"><%= f.select(:classes, Course.all.collect {|p| [p.subject + " " + p.course_Num] }, {:selected => selectedClasses}, { style: "width: 100%", multiple: true , id: "course_selector"})%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" contenteditable="false">
                    <div class="panel panel-default">
                        Password
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>


    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
      <% end %>


<!--
<div class="container-fluid">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <p class = "notice"><%= notice %></p>
  <p class = "alert"><%= alert %></p>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
 <div class="form-group">
        <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.file_field :avatar %>
        </div>
    </div>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :first %>
      <%= f.text_field :first, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last %>
      <%= f.text_field :last, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :gender %>
      <%= f.text_field :gender, autocomplete: "off", class: "form-control" %>
    </div>
   
    <div class="form-group">
      <%= f.label :is_Tutor %><br>
      <%= f.check_box :isTutor, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :is_Student %><br>
      <%= f.check_box :isStudent, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :recieveReminders %><br>
      <%= f.check_box :recieveReminders, autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.label :about_Me %><br />
      <%= f.text_field :aboutMe, autocomplete: "off", class: "form-control" %>
    </div>
<% if current_userlogin.isTutor == true %>
    <div class="form-group">
      <%= f.label :classes %><br />
      <%= f.text_field :classes, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :price %><span style="margin-left: 8px">($/hr)</span><br/>
      <%= f.text_field :price, placeholder: 'Enter just a number (ex. 20, 30, 45, etc...)', autocomplete: "off", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :skills %><br />
      <%= f.text_field :skills, placeholder: "What skills do you have?", autocomplete: "off", class: "form-control"; %>
    </div>
<% end %>
    <div class="form-group">
      <%= f.label :birthday %>
      <div class ="row">
      <%= f.date_select :birthday, { :start_year => 1920, :end_year => 2015 },prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, autocomplete: "off", class: "" %>
      </div>
    </div>
  <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>
    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
  <%= link_to "Back", :back %>
</div>
-->