<style>
  .body {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;

  }
  .panel {
    background-color: #ffffe9;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .thumbnail{
    box-shadow: 3px 3px 2px #000000;
  }

  .thumbnail:hover{
    background-color: #D6D6D6;
  }

  .button_to{
    display: inline;
  }
  .btn {
    display: inline;
  }
  p {
    display: inline;
  }
</style>


    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
        $("#conversation_recipients").select2();
    });

    $('#messageModal').on('shown.bs.modal', function () {
      $('#messageModal').focus()
    });
    var fav_email = "";
    var fav_id = "";
    var fav_first = "";
    var fav_last = "";


    function getFavInfo(fav){
       fav_email = fav.getAttribute("data-fav-email");
       fav_id = fav.getAttribute("data-fav-id");
       fav_first = fav.getAttribute("data-fav-first");
       fav_last = fav.getAttribute("data-fav-last");
       $('#conversation_recipients').val(window.fav_id).change();
       document.getElementById("modal_title").innerHTML = "Send " + window.fav_first + " " + window.fav_last + " a message";       
    }
    
  </script>


<div class="panel panel-default">
  <div class="row"> 
    <% if current_userlogin.favorites.empty? then %> <!-- NO FAVORITES -->
    <div class="col-lg-12">
      <div class="jumbotron">
      <h1>No favorites yet!</h1>
      <span style="display:inline;"> <p style="display:inline">Head over to a Tutor you like and click the </p> <button type="button" class="btn btn-success">"Favorite Tutor"</button> <p style="display:inline"> next to their name.</p></span>
      </div>
    </div>
    <% end %>
    <%  current_userlogin.favorites.each do |u| %>
            <!-- A container for each search result -->
            <% fav = Userlogin.find(u.favorited_id)%>
             <%# if userlogin.isTutor? %>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a href="../pages/User_Profile/<%= fav.id %>">profile image here<!--<img title="profile image" class="img-rounded img-responsive" src="<%#= fav.avatar.url(:medium) %>">--></a>
                  <div class="caption">
                    <div class="row">
                      <h2>
                        <% if fav.first? || fav.last? then %>
                          <div class="col-xs-6" style="font-size:xx-large; text-align: center;"><b><%= fav.first %> <%= fav.last %></b></div>
                        <% else %> 
                          <div class="col-xs-6" style="font-size:xx-large; text-align: center;"><b>Name n/a</b></div>
                        <% end %>
                      </h2>
                      <p> <%#= button_to 'Send Message', type="button", class="btn btn-info", data-toggle="modal", data-target="#messageModal",params: {email: fav.email, fav_id: fav.id, fav_first: fav.first, fav_last: fav.last} %> 
                        <button type="button" onclick="getFavInfo(this)" class="btn btn-info" data-fav-email="<%= fav.email %>" data-fav-id ="<%= fav.id %>" data-fav-last="<% if fav.last.blank? then %>Last<% else %><%= fav.last %><% end %>" data-fav-first="<% if fav.first.blank? then %>First<% else %><%= fav.first %><% end %>" data-toggle="modal" data-target="#messageModal">Send a message</button>
                        <%= button_to 'Unfavorite', favorite_userlogin_path(id: u.favorited_id), class: "btn btn-success", method: :delete %></p>
                    </div>
                  </div>
                </div>
              </div>
    <% end %>
  </div><!--Row-->
</div><!--Panel-->

            
            <div class="modal fade" id="messageModal" tabindex="-1" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 id="modal_title" class="modal-title">Send <% if params[:fav_first].blank? && params[:fav_last].blank?%>Nicolas Cage<% end %><%= params[:fav_first] %> <%= params[:fav_last] %> a message</h2>
                  </div>

                  <div class="modal-body">
                    <%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>    

                      <div class="form-group"  style="display: none;">   
                        <%= f.label :recipient %>   
                        <%= f.select(:recipients, Userlogin.all.collect {|p| [ p.email , p.id ] }, {}, { multiple: true , id: "conversation_recipients"})%>    
                      </div>
                      <div class="form-group">   
                        <%= f.label :subject %>    
                        <%= f.text_field :subject, placeholder: "I'd like you to tutor me!", class: "form-control" %>    
                      </div>   
                      <div class="form-group">   
                        <%= f.label :message %>    
                        <%= f.text_area :body, class: 'form-control',placeholder: "I need help with this class, this class, and this class. When would you be free to help?", rows: 4  %>    
                      </div>   
                      <%= f.submit "Send Message", class: "btn btn-success" %>   
                    <% end %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->