<%= form_for(@userreview) do |f| %>
  <% if @userreview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userreview.errors.count, "error") %> prohibited this userreview from being saved:</h2>

      <ul>
      <% @userreview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :Overview %><br>
        <%= f.text_field :name, class: 'form-control', placeholder: "They're pretty good", rows: 1  %>
      </div>
    </div>
    <div class="form-group">
      <div class="field">
        <%= f.label :Review %><br>
        <%= f.text_area :body, class: 'form-control', placeholder: "They helped me with this, and seemed very intelligent and reasonable", rows: 4  %>
      </div>
      <%= f.hidden_field :userlogin_id %>
    </div>

  <div class="actions">
    <%= f.submit "Submit Review", class: "btn btn-success"%>
  </div>
<% end %>
