<p id="notice"><%= notice %></p>

<h1>Listing Userreviews</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Body</th>
      <th>Userlogin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userreviews.each do |userreview| %>
      <tr>
        <td><%= userreview.name %></td>
        <td><%= userreview.body %></td>
        <td><%= userreview.userlogin_id %></td>
        <td><%= link_to 'Show', userreview %></td>
        <td><%= link_to 'Edit', edit_userreview_path(userreview) %></td>
        <td><%= link_to 'Destroy', userreview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Userreview', new_userreview_path %>
