<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
<style>
.navbar{
  margin-bottom: 0px;
  z-index: 10000;
  background-image: url('/assets/footer_background.jpg');
  font-family: 'Josefin Sans', sans-serif;
}

    body {
    padding: 50px 0px;
  }


@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left:0;
        padding-right:0;
    }
}
@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}
.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


</style>

<script>
$(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>



<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>

         <a class="navbar-brand pull-left hidden-xs" href="/" style="color: white"><img src="/assets/apptitutor-2.png" style="width:30px; margin-top: -3px; margin-right: 8px" class="pull-left">ApptiTutor </a>
         <a class="navbar-brand pull-left visible-xs" href="/" style="color: white"><img src="/assets/apptitutor-2.png" style="width:30px; margin-top: -3px; margin-right: 8px" class="pull-left"></a>

         <%=render 'layouts/searchbar' unless @disable_nav%>

      </div>

      <div class="navbar-collapse collapse">
         <ul class="nav navbar-nav navbar-right">
          <!-- Only show the Profile menu when logged in -->
          <% if userlogin_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user"></span>Profile
                <span style="margin-left:5px;" class="badge"><%=unread_messages_count%></span>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li> <a href="/pages/User_Profile/<%= current_userlogin.id %>">My Profile<span class="glyphicon pull-right glyphicon-user"></span></a></li>
                <li><a href="/mailbox/inbox">Messages<span class="glyphicon pull-right glyphicon-envelope"></span></a></li> 
                <li><a href="/pages/Favorites">Favorites<span class="glyphicon pull-right glyphicon-star-empty"></span></a></li>
                <li><a href="/userlogins/edit" data-no-turbolink="true">Edit Profile<span class="glyphicon pull-right glyphicon-pencil"></span></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/ContactUs">Contact Us<span class="glyphicon pull-right glyphicon-question-sign"></span></a></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_userlogin_session_path %></li>
          <% else %>
              <li><%= link_to "Sign up", new_userlogin_registration_path %></li>
              <li><%= link_to "Sign in", new_userlogin_session_path %></li>
          <% end %>
         </ul>

      </div>
      <!--/.navbar-collapse -->
   </div>
</div>