<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" scr="javascripts/jquery.raty.js"></script>
  <script type="text/javascript" scr="javascripts/ratyrate.js.erb"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>

  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/apptitutor-2.png" />

  <title>ApptiTutor</title>
  <%= yield :javascript_includes %>

  <style>
  .body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: normal;
  }
  .modal {
    z-index: 10001;
  }
  </style>
</head>
<%= yield :javascript_includes %>
<!-- 
	- lighter blue text color: 00A6DE 
	- https://www.wpfaster.org/wp-content/uploads/2014/06/off-white-textured-background-1920x10802.jpg
	- http://www.designbolts.com/wp-content/uploads/2012/12/Skeletal-Weave-White-Tileable-pattern-for-website-background.jpg
	- favorite: http://www.designbolts.com/wp-content/uploads/2012/12/Grey-Jean-White-Seamless-Patterns-For-Website-Backgrounds.jpg
-->
<div id="wrap">
  <div id="main">
    <body style="background-image: url('/assets/app_background_white_jean.jpg'); color: #208AD6">
      <div class="header">
        <%=render 'layouts/navbar'%>
      </div>
      <div class="body">
        <%= yield %>
      </div>
    </body>
  </div>
</div>
<%=render 'layouts/footer' unless @disable_foot %>

</html>
